#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.base {
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}